doctype html
html.
  <head>
    <meta charset="utf-8">

    <title>Algo Platform</title>
    <meta name="description" content="test page">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="css/particles.min.css">
    <link rel="stylesheet" type="text/css" href="css/codemirror.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>

  </head>
  <body>

    <!--  <div id="particles-js">
      <h1 style="color: white"> Algo Platform </h1>
    </div>  -->

    <div class="container grid">
        <h2>Javascript</h2>
        <textarea id="code" name="code"></textarea>
        <button id="run"> Run! </button>
    </div>

    <div class="output grid">
      <iframe></iframe>
    </div>


    <!-- CodeMirror -->
    <script src="js/codemirror.js"></script>

    <script src="js/index.js" type="text/javascript"></script>

    <!-- particles container -->
    <!-- <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <script src="js/particles.min.js" type="text/javascript"></script> -->

  </body>
